*{
  
}
body{
    font-size:30px;
  color: white;
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.9822128680573792) 4%, rgba(0,0,0,1) 14%, rgba(93,0,0,0.8449579660965949) 84%);
}

html {
  height: 100%;
  overflow: hidden;
}

